main section:nth-of-type(2) {
    line-height: 0;
    column-count: 3;
    column-gap: 0.5em;
}

section img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    visibility: visible;
    transition-duration(0, 200ms);
    transition-property(visibility, opacity);
    transition-delay(0);
}

.blauw img.blauw {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition-duration(0, 200ms);
    transition-property(visibility, opacity);
    transition-delay(0);
}

@media (min-width:80em) {
    main section:nth-of-type(2) {
        column-count: 4;
    }
}

@media (min-width:32em) and (max-width:45em) {
    main section:nth-of-type(2) {
        column-count: 2;
    }
}

@media (max-width:32em) {
    main section:nth-of-type(2) {
        column-count: 1;
    }
}